<!-- extends -->
{% extends "layout.html" %}

<!-- MAC articlePost -->
{% from "macros.html" import articlePost, paginationPosts with context %}

<!-- block content -->
<!--blk-->{% block content %}


<!--blk-->{% if data['user'] %}
<h1>Post of {{ data['user'].username }} ({{ data['posts'].total }}) </h1>
<!--blk-->{% endif %}

<!-- MAC articlePost -->
<!-- for  -->{% for post in data['posts'].items %}
<!-- µap  -->{{ articlePost(post, data['mode']) }}
<!-- !for -->{% endfor%}

<!-- MAC paginationPosts -->
<!-- µpg  -->{{ paginationPosts(data['posts'],data['user']) }}

<!--!blk-->{% endblock %}
<!-- !block content -->