{% extends "layout.html" %}

<!-- MAC password -->
{% macro frm_grp_field(form_field) -%}
<div class="form-group">
    <!-- label field -->
    {{ form_field.label(class="form-control-label") }}
    <!-- input field -->
    {{ form_field(class='form-control form-control-log' + (' ' + 'is-invalid' if(form_field.errors) else '') ) }}

    <!-- input field -->
    {% if form_field.errors %}
    <div class="invalid-feedback">
        {% for error in form_field.errors %}
        <span>{{ error }}</span> {% endfor %}
    </div>
    {% endif %}
</div>
{%- endmacro %}

<!-- MAC submit -->
{% macro frm_remember() -%}
<div class="form-check">
    {{ form.remember(class="form-check-input") }}
    <!-- ghfg -->
    {{ form.remember.label(class="form-check-label") }}
</div>
{%- endmacro %}


<!-- MAC submit -->
{% macro frm_grp_submit() -%}
<div class="form-group">
    {{ form.submit(class='btn btn-outline-info', value=form.infos['submit'] ) }}
</div>
{%- endmacro %}

<!-- MAC submit -->
{% macro frm_link_sign_inup(regorlog) -%}
<div class="border-top pt-3">
    <small class="text-muted">
        {% if data.isSignUp %}
            Already have an account? <a class="ml-2" href= "{{ url_for('register') }}">Sign in</a>
        {% else %}
            Need An Account? <a class="ml-2" href= "{{ url_for('register') }}">Sign up</a>
        {% endif %}
    </small>
</div>
{%- endmacro %}

<!-- block content main -->
{% block content %}

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join today {{ form.infos['title'] }}</legend>
            <!-- username -->
            {% if data.isSignUp %} {{ frm_grp_field(form.username) }} {% endif %}

            <!-- email -->
            {{ frm_grp_field(form.email) }}

            <!-- password -->
            {{ frm_grp_field(form.password) }}

            <!-- password -->
            {% if data.isSignUp %} {{ frm_grp_field(form.confirm_password) }} {% endif %}
            <!-- password -->
            {% if not data.isSignUp %} {{ frm_remember() }} {% endif %}

        </fieldset>
        {{ frm_grp_submit() }}

        <!-- password -->
        {% if not data.isSignUp %}
        <!--  shdhkj --->
        <small class="text-muted ml-2"> <a href="#">Forgot Password?</a> </small>
        <!-- password -->
        {% endif %}
    </form>


</div>
{{ frm_link_sign_inup(true) }}

<!-- !block content main -->
{% endblock %}