<!-- extends -->
{% extends "layout.html" %}

<!-- MAC articlePost -->
{% macro articlePost(post) -%}

<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='img/' + 
(post.author_image_file if post.author_image_file else 'default.jpg')) }}">

    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2>
            <a class="article-title" href="#">
                {{ post.title |striptags|title }} 
            </a>
        </h2>
        <p class="article-content">{{ post.content }}</p>
    </div>

</article>

{%- endmacro %}
<!-- !MAC articlePost -->

<!-- block content -->
{% block content %}
<!-- for  -->
{% for post in data['posts'] %}
<!-- articlePost -->
{{ articlePost(post) }}
<!-- !articlePost -->
{% endfor%}
<!-- !for -->
{% endblock %}
<!-- !block content -->